<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Consultant-Tracker</display-name>
  <servlet>
    <display-name>ResourceServlet</display-name>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/test-resources/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>com.sap.ui5.resource.DEV_MODE</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/testingdb</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>root</param-value>
  </context-param>
  <filter>
    <display-name>CacheControlFilter</display-name>
    <filter-name>CacheControlFilter</filter-name>
    <filter-class>com.sap.ui5.resource.CacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.xml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SimpleProxyServlet</servlet-name>
    <servlet-class>com.sap.ui5.proxy.SimpleProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleProxyServlet</servlet-name>
    <url-pattern>/proxy/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ODataServlet</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.olingo.odata2.service.factory</param-name>
      <param-value>main.EmployeeListServiceFactory</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE,MERGE</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value></param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/media-upload</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>ODataServlet</servlet-name>
    <url-pattern>/emplist.svc/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ODataServlet</web-resource-name>
      <url-pattern>/emplist.svc/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>PUT</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>CheckDailyTimesEntered</display-name>
    <servlet-name>CheckDailyTimesEntered</servlet-name>
    <servlet-class>com.ConsultantTracker.servlet.CheckDailyTimesEntered</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDailyTimesEntered</servlet-name>
    <url-pattern>/CheckDailyTimesEntered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterDailyTimes</display-name>
    <servlet-name>EnterDailyTimes</servlet-name>
    <servlet-class>com.ConsultantTracker.servlet.EnterDailyTimes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterDailyTimes</servlet-name>
    <url-pattern>/EnterDailyTimes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterTaskTimes</display-name>
    <servlet-name>EnterTaskTimes</servlet-name>
    <servlet-class>com.ConsultantTracker.servlet.EnterTaskTimes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterTaskTimes</servlet-name>
    <url-pattern>/EnterTaskTimes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterConsultantRatings</display-name>
    <servlet-name>EnterConsultantRatings</servlet-name>
    <servlet-class>com.ConsultantTracker.servlet.EnterConsultantRatings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterConsultantRatings</servlet-name>
    <url-pattern>/EnterConsultantRatings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConsultantUtilization</display-name>
    <servlet-name>GetConsultantUtilization</servlet-name>
    <servlet-class>com.ConsultantTracker.servlet.GetConsultantUtilization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConsultantUtilization</servlet-name>
    <url-pattern>/GetConsultantUtilization</url-pattern>
  </servlet-mapping>
  <servlet>
      <description></description>
    <display-name>GetTimesAndTasks</display-name>
    <servlet-name>GetTimesAndTasks</servlet-name>
    <servlet-class>com.ConsultantTracker.servlet.GetTimesAndTasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTimesAndTasks</servlet-name>
    <url-pattern>/GetTimesAndTasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>com.ConsultantTracker.servlet.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
</web-app>